{{ partial "global/head" . }}
<div class="uk-position-relative">
    <div class="uk-cover-container">
        <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635197169/darius-clark/page-banner.jpg" alt="" style="filter: grayscale();" uk-cover>
        <canvas height="300"></canvas>
    </div>
    <div class="uk-position-top">
        {{ partial "global/navbar" . }}
    </div>
</div>
<main>
<div class="uk-section" style="padding-bottom: 0;">
    <div class="uk-container uk-light">
        <div class="uk-flex uk-flex-center">
            <div class="uk-width-1-1">
                <div class="uk-card">
                    <h1 uk-scrollspy="uk-animation-slide-left-medium" class="uk-white page-title">{{ .Title }}</h1>
                    <div class="uk-margin-large-left" uk-scrollspy="uk-animation-slide-right-medium">
                        <p>{{ .Params.body }}</p>
                        {{ if not .Params.hide_button }}
                        <a href="/contact" class="uk-link-text">Have any questions? Get in touch</a>
                        <span uk-icon="icon: arrow-right;ratio:2" style="color:#fff;"></span>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ block "main" . }}

{{ end }}
</main>

{{ partial "global/footer" . }}
