{{ define "main" }}
<div class="uk-section uk-section-large">
    <div class="uk-container">
        <div class="uk-grid uk-child-width-1-2@s uk-flex uk-flex-middle uk-grid-large">
            <div class="uk-card uk-margin-medium-bottom">
                <img src="{{ .Params.image }}" alt="">
            </div>
            <div class="uk-card">
                <div>
                    {{ .Params.information | markdownify }}
                </div>
                <div class="uk-margin-medium-top">
                    <a href="/contact" class="uk-link-text hr-text-underline uk-white">Get Started <span uk-icon="icon: arrow-right;ratio:2" style="color:#fff;"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}