{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-middle uk-grid-large">
            <div class="uk-width-1-2@s">
                <h2 class="uk-h1" style="color: #eee;">What is DAC Athletics</h2>
                <div>
                    <p>My name is Darius Clark, owner of DAC Athletics. I've created several programs to help athletes improve their vertical jumps and other athletic abilities. I've been titled NJCAA National Champion, and NCAA All-American and known as an extraordinary athlete.</p>
                    <p>DAC Athletics is designed to help develop athletes and focus on training that gets results. Find out the steps I took to take my vertical to the next level! Join the <a href="/programs/kangaroo-club" class="uk-link-text uk-text-italic">Kangaroo Club</a></p>
                    <a href="/programs" class="uk-link-text">View the programs <span uk-icon="icon: arrow-right;ratio:2" style="color:#fff;"></span></a>
                        
                </div>
            </div>
            <div class="uk-width-expand@s">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635204895/darius-clark/darius-clark-ig.jpg" alt="Darius Clark">
            </div>
        </div>
    </div>
</div>
{{ end }}