{{ define "main" }}
<div class="uk-section">
    <div class="uk-container">
        <div class="uk-grid uk-flex uk-flex-middle uk-grid-large" uk-grid>
            <div class="uk-width-1-2@s">
                <h2 class="uk-h1" style="color: #eee;">What is DAC Athletics</h2>
                <div>
                    <p>My name is Darius Clark, owner of DAC Athletics. I've created several programs to help athletes improve their vertical jumps and other athletic abilities. I've been titled NJCAA National Champion, and NCAA All-American and known as an extraordinary athlete.</p>
                    <p>DAC Athletics is designed to help develop athletes and focus on training that gets results. Find out the steps I took to take my vertical to the next level! Join the <a href="/programs/kangaroo-club" class="uk-link-text uk-text-italic">Kangaroo Club</a></p>
                    <a href="/programs" class="uk-link-text">View the programs <span uk-icon="icon: arrow-right;ratio:2" style="color:#fff;"></span></a>
                        
                </div>
            </div>
            <div class="uk-width-expand@s">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1635204895/darius-clark/darius-clark-ig.jpg" alt="Darius Clark">
            </div>
        </div>
        <div>
            <h2 class="uk-h1" style="color: #eee;">Background</h2>
            <p> I have always been known as an extraordinary athlete even before my teenage years, always being the star player on either my little league basketball, baseball, or football team, but that all changed one day in gym class in the 11th grade. There was a group of people trying to dunk on me and I managed to deny all of them except the last one. A kid came and not only dunked on me, but did a full windmill on me. Of course, that caused everybody in the class to go crazy! I did not know what to do but sit there, because yes, I fell.</p>
            <p>Later that night, I started my studies and talked to multiple athletic trainers about “how to jump higher”, because I did not want to go through that again. Before I knew it, I had an understanding in human biomechanics and mostly, how to increase my vertical the safest and most efficient way possible! I went from a 33” vertical at the age of 17, to 37” at the age of 18, to 45” at the age of 20, and 47”at the age of 21! My incredible vertical transformation not only got me featured on SportsCenter, ESPN, KCTV5 news, House of Highlights, Overtime, the Olympics page, and more, but also got me in the record books for tying the World Record in the Standing Box Jump, and highest Standing Vertical!</p>
        </div>
    </div>
</div>
{{ end }}