
{{ $companyName := .Site.Data.profile.company_name }}
{{ $footer := .Site.Data.appearance.footer }}
{{ $footerContact := .Site.Data.profile.contact_information }}
{{ $footerSocial := .Site.Data.profile.social_media }}
{{ $accent := $.Site.Data.appearance.colors.accent }}
<footer class="footer">
    <div class="uk-section">
        <div class="uk-container uk-container-large">
            <div class="uk-grid uk-grid-large">
                <div class="uk-width-1-2@s">
                    <h2 class="uk-white uk-text-uppercase uk-h3">Join the family</h2>
                    <p>Enter your email to stay up with promos and free workout tips</p>
                    <form class="uk-margin-large-top">
                        <div class="uk-margin" uk-margin>
                            <div uk-form-custom="target: true">
                                <input class="uk-input uk-width-large" type="text" placeholder="Email Address">
                            </div>
                            <button class="uk-button uk-button-default"><span uk-icon="icon: arrow-right;ratio:2" style="color:#fff;"></span></button>
                        </div>
                    </form>
                </div>
                <div class="uk-width-1-2">
                    <h2 class="uk-white uk-text-uppercase uk-h3">Ready to get started?</h2>
                    <div class="uk-margin-large-top uk-light">
                        <a href="" class="uk-button uk-button-secondary">Contact</a>
                        <ul class="uk-list uk-margin-medium-top">
                            <li><a href="" class="uk-white">info@dacathletics.com</a></li>
                            <li><a href="" class="uk-white">951-454-2650</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section uk-section-small">
        <div class="uk-container uk-container-large">
            <hr style="border-top:1px solid rgba(255, 255, 255, 0.3)">
            <div class="uk-section">
                <div class="uk-grid uk-child-width-1-2@s">
                    <div>
                        <small class="uk-white">&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.company_name }}  &middot; <a href="https://hungryram.com" target="_blank" class="uk-white" rel="nofollow">Design by Hungry Ram</a></small>
                    </div>
                    <div>
                        <ul class="hr-legals uk-padding-remove uk-text-right">
                            {{ range where $.Site.Pages.ByWeight "Type" "legal" }}
                            <li class="uk-display-inline uk-margin-medium-right"><small><a href="{{ .Permalink }}" class="uk-white">{{ .Title }}</a></small></li>
                            {{ end }}
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>