
{{ $companyName := .Site.Data.profile.company_name }}
{{ $footer := .Site.Data.appearance.footer }}
{{ $footerContact := .Site.Data.profile.contact_information }}
{{ $footerSocial := .Site.Data.profile.social_media }}
{{ $accent := $.Site.Data.appearance.colors.accent }}
<footer class="footer">
    <div class="uk-section">
        <div class="uk-container uk-container-large">
            <div class="uk-grid uk-grid-large">
                <div class="uk-width-1-2">
                    <h2 class="uk-white uk-text-uppercase uk-h3">Ready to get started?</h2>
                    <div class="uk-margin-large-top uk-light">
                        <a href="/contact" class="uk-button uk-button-secondary">Contact</a>
                        <ul class="uk-list uk-margin-medium-top">
                            <li><a href="mailto:{{ .Site.Data.profile.contact_information.email }}" class="uk-white">{{ .Site.Data.profile.contact_information.email }}</a></li>
                            <li><a href="tel:{{ .Site.Data.profile.contact_information.phone }}" class="uk-white">{{ .Site.Data.profile.contact_information.phone }}</a></li>
                            <div class="uk-margin-medium-top">
                                {{ if $footerSocial.facebook }}<a href="{{ $footerSocial.facebook }}" uk-icon="icon: facebook; ratio: 1.2" style="color: #fff;"></a>{{ end }}
                                {{ if $footerSocial.instagram }}<a href="{{ $footerSocial.instagram }}" uk-icon="icon: instagram; ratio: 1.2" style="color: #fff;"></a>{{ end }}
                                {{ if $footerSocial.linkedin }}<a href="{{ $footerSocial.linkedin }}" uk-icon="icon: linkedin; ratio: 1.2" style="color: #fff;"></a>{{ end }}
                                {{ if $footerSocial.pinterest }}<a href="{{ $footerSocial.pinterest }}" uk-icon="icon: pinterest; ratio: 1.2" style="color: #fff;"></a>{{ end }}
                                {{ if $footerSocial.twitter }}<a href="{{ $footerSocial.twitter }}" uk-icon="icon: twitter; ratio: 1.2" style="color: #fff;"></a>{{ end }}
                                {{ if $footerSocial.youtube }}<a href="{{ $footerSocial.youtube }}" uk-icon="icon: youtube; ratio: 1.2" style="color: #fff;"></a>{{ end }}
                                {{ if $footerSocial.tiktok }}<a href="{{ $footerSocial.tiktok }}" uk-icon="icon: tiktok; ratio: 1.2" style="color: #fff;"></a>{{ end }}
                                {{ if $footerSocial.yelp }}<a href="{{ $footerSocial.yelp }}" uk-icon="icon: yelp; ratio: 1.2" style="color: #fff;"></a>{{ end }}
                            </div>
                        </ul>
                    </div>
                </div>
                <div class="uk-width-1-2@s">
                    <h2 class="uk-white uk-text-uppercase uk-h3">Join the family</h2>
                    <p>Enter your email to stay up with promos and free workout tips</p>
                    <form  name="Newsletter" method="POST" netlify-honeypot="bot-field" data-netlify="true" class="uk-margin-large-top" action="/thank-you">
                        <input name="bot-field" type="hidden" />
                        <input type="hidden" name="Subject" value="New Subscriber to Newsletter">
                        <div class="uk-margin" uk-margin>
                            <div uk-form-custom="target: true">
                                <input class="uk-input uk-width-large" type="text" placeholder="Email Address" name="email">
                            </div>
                            <button class="uk-button uk-button-default"><span uk-icon="icon: arrow-right;ratio:2" style="color:#fff;"></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-container uk-container-large">
            <hr style="border-top:1px solid rgba(255, 255, 255, 0.3)">
            <div class="uk-padding-small">
                <div class="uk-grid uk-child-width-1-2@s">
                    <div>
                        <small class="uk-white">&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.company_name }}  &middot; <a href="https://hungryram.com" target="_blank" class="uk-white" rel="nofollow">Design by Hungry Ram</a></small>
                    </div>
                    <div>
                        <ul class="hr-legals uk-padding-remove uk-text-right@s">
                            {{ range where $.Site.Pages.ByWeight "Type" "legal" }}
                            <li class="uk-display-inline uk-margin-medium-right"><small><a href="{{ .Permalink }}" class="uk-white">{{ .Title }}</a></small></li>
                            {{ end }}
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=T25B2C"></script>
</body>
</html>