{{ $navbar := .Site.Data.appearance.branding }}
{{ $navColor := .Site.Data.appearance.header }}
{{ $navContact := .Site.Data.profile.contact_information }}
{{ $headerSocial := .Site.Data.profile.social_media }}
<div class="uk-visible@m">
	<div class="uk-sticky">
		<div class="uk-navbar-container uk-navbar-transparent">
			<div>
				<nav class="uk-navbar">
					<div class="uk-navbar-left">
						<a class="uk-logo" href="{{ .Site.BaseURL }}">                        
                            <img src="{{ .Site.Data.appearance.branding.logo }}" alt="{{ .Site.Data.profile.company_name }}" width="100" class="white-logo">
                        </a>
                        <ul class="uk-navbar-nav uk-margin-medium-left">
                            {{ $currentPage := . }}
                            {{ range .Site.Menus.main }}
                            {{ if .HasChildren }}
                            <li>
                                <a href="#">{{ .Name }}<span class="uk-margin-small-left" uk-icon="chevron-down"></span></a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        {{ range .Children }}
                                        <li class="uk-active"><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                                        {{ end }}
                                    </ul>
                                </div>
                            </li>
                            {{ else }}
                            <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
                            {{ end }}
                            {{ end }}
                        </ul>
					</div>
					<div class="uk-navbar-right">
                        <ul class="uk-navbar-nav uk-margin-medium-right">
                            <li class="uk-inline"><a href="{{ .URL | absURL }}">Login</a></li>
                            <li class="uk-inline"><a href="{{ .URL | absURL }}">Register</a></li>
                            
                        </ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>


<!-- mobile -->
<div>
    <nav class="uk-navbar uk-hidden@m uk-box-shadow-small uk-navbar-transparent">
        <div class="uk-navbar-left" style="align-items: normal;">
            <a href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.Data.appearance.branding.logo }}" alt="{{ .Site.Data.profile.company_name }}" width="60">
            </a>
        </div>
        <div class="uk-navbar-right">
            <a class="uk-navbar-toggle" href="#modal-full" uk-toggle>
                <svg fill="#fff" width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-svg="navbar-toggle-icon"><rect y="9" width="15" height="2"></rect><rect y="3" width="20" height="2"></rect><rect y="15" width="10" height="2"></rect></svg>
            </a>
        </div>
    </nav>
</div>



<div id="modal-full" class="uk-modal-full uk-modal mobile__wrapper" uk-modal>
    <div class="uk-modal-dialog uk-flex uk-flex-left" uk-height-viewport>
        <button class="uk-modal-close-full" type="button" uk-close></button>

        <ul class="uk-nav-default uk-nav-parent-icon uk-margin-auto-vertical uk-text-center uk-margin-large-left" uk-nav uk-scrollspy="cls:uk-animation-slide-left;delay:500;repeat: true">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li class="uk-parent">
                <a href="#" class="uk-text-light">{{ .Name }}</a>
                <ul class="uk-nav-sub">
                    {{ range .Children }}
                    <li><a href="{{ .URL | absURL }}" class="uk-text-light">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </li>
            {{ else }}
            <li><a href="{{ .URL | absURL }}" class="uk-text-light">{{ .Name }}</a></li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</div>