<div class="uk-section uk-section-large" style="background: #000">
    <div class="uk-container uk-container-large">
        <div class="uk-card">

            <div class="uk-flex uk-flex-center">
                <div class="uk-width-2xlarge">
                    <div class="uk-light">
                        <h2>NCAA All-American,</h2>
                        <h2 class="uk-margin-large-left" style="margin-top:0">NJCAA National Champion</h2>
                        <div class="uk-margin-large-top">
                            <p style="font-size: 20px;line-height: 40px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem saepe ullam exercitationem impedit dolorum fugiat, distinctio culpa, molestiae, corporis quod est. Deserunt iure alias quam asperiores inventore voluptate quo ex autem deleniti blanditiis nemo, cum repellendus aspernatur omnis excepturi magnam modi sit ullam recusandae vitae odit et veniam architecto. Optio neque commodi excepturi incidunt facere</p>
                        </div>
                        <div class="uk-margin-medium-top uk-text-left">
                            <a href="">Read more <span uk-icon="icon: arrow-right;ratio:2" style="color:#fff;"></span></a><br>
                            <a href="">Contact <span uk-icon="icon: arrow-right;ratio:2" style="color:#fff;"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>