<div class="uk-section uk-section-large" style="background: #000">
    <div class="uk-container uk-container-large">
        <div class="uk-card">

            <div class="uk-flex uk-flex-center">
                <div class="uk-width-2xlarge">
                    <div class="uk-light">
                        <h2>NCAA All-American,</h2>
                        <h2 class="uk-margin-large-left" style="margin-top:0">NJCAA National Champion</h2>
                        <div class="uk-margin-large-top">
                            <p style="font-size: 20px;line-height: 40px;">My name is Darius Clark, aka DAC, NJCAA National Champion, and NCAA All-American, from Kansas City Missouri. I have always been known as an extraordinary athlete even before my teenage years, always being the star player on either my little league basketball, baseball, or football team.</p>
                            <p>My incredible vertical transformation not only got me featured on SportsCenter, ESPN, KCTV5 news, House of Highlights, Overtime, the Olympics page, and more, but also got me in the record books for tying the World Record in the Standing Box Jump, and highest standing vertical</p>
                            <p>Allow me to show you what I did that took my vertical to the next level</p>
                        </div>
                        <div class="uk-margin-medium-top uk-text-left">
                            <a href="">Read more <span uk-icon="icon: arrow-right;ratio:2" style="color:#fff;"></span></a><br>
                            <a href="">Contact <span uk-icon="icon: arrow-right;ratio:2" style="color:#fff;"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>