<style>
    .bg-logo {
        position:relative;
        z-index: -1;
    }

    @media screen and (max-width: 768px) {
        .bg-logo {
            bottom: 60px;
        }
    }

    .hero__container:after {
        background: black;
        content: '';
        height: 100vh;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: -2;
    }
</style>
<div class="uk-background-norepeat uk-background-cover uk-background-center-center uk-flex uk-flex-middle hero__bg"
	uk-height-viewport
	style="background:url(https://res.cloudinary.com/hungryram19/image/upload/v1637829265/darius-clark/dc3.png) no-repeat center;background-size:cover;position;relative;z-index:5"
    
    >
	<!-- <div style="position:relative;display: flex; align-items:center;justify-content:center;width:100%">
		<div class="uk-container uk-container-large" style="position:relative;display:flex;align-items:center">
			<img src="https://res.cloudinary.com/hungryram19/image/upload/v1634016273/darius-clark/dac-white-logo.png" alt="" class="bg-logo">
		</div>
	</div> -->
			<div class="uk-container uk-container-xlarge hero__container">
                <img src="https://res.cloudinary.com/hungryram19/image/upload/v1634016273/darius-clark/dac-white-logo.png" alt="" class="bg-logo" uk-scrollspy="uk-animation-scale-down" uk-parallax="blur: 10; blur: 50;">
            </div>

</div>
