<div class="uk-section uk-section-large" style="background-color: #1A1A1A;">
	<div class="uk-container uk-container-large">
		<div class="uk-grid uk-flex uk-flex-middle">
			<div class="uk-width-1-2@s">
				<img src="https://res.cloudinary.com/hungryram19/image/upload/v1634858720/darius-clark/darius-background.jpg" alt="">
			</div>
			<div class="uk-width-expand@s">
				<div class="uk-width-xlarge">
					<h3 class="accent uk-text-uppercase">Darius Clark</h3>
					<h2 class="uk-text-left uk-margin-remove uk-text-uppercase">NCAA All-American</h2>
					<h2 class="uk-margin-remove uk-text-uppercase" style="padding-left: 50px;">NJCAA National Champion</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit fuga ab iusto itaque dolorum at nostrum, animi ullam quisquam doloremque libero mollitia quos aut quo velit repellat eos tempore inventore.</p>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo magnam vitae, quod, facilis officiis nulla cumque esse inventore, ratione iusto accusamus. Deserunt explicabo maxime officiis nostrum unde, laborum nemo accusamus quibusdam pariatur, architecto impedit fuga veritatis quam ipsa dignissimos. Laudantium quibusdam illo nesciunt ipsa deserunt! Ad omnis cupiditate esse vero?</p>
					<a href="" class="uk-button uk-button-secondary">Learn more</a>
				</div>
			</div>
		</div>
	</div>
</div>