<div class="uk-section">
	<div class="uk-container uk-container-large">
		<div class="uk-grid uk-flex uk-flex-middle">
			<div class="uk-width-expand">
				<img src="https://res.cloudinary.com/hungryram19/image/upload/v1634858720/darius-clark/darius-background.jpg" alt="">
			</div>
			<div class="uk-width-1-2@s">
				<div class="uk-width-xlarge">
					<h3 class="accent uk-text-uppercase">Darius Clark</h3>
					<h2 class="uk-text-left uk-margin-remove uk-text-uppercase">NCAA All-American</h2>
					<h2 class="uk-margin-remove uk-text-uppercase" style="padding-left: 50px;">NJCAA National Champion</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit fuga ab iusto itaque dolorum at nostrum, animi ullam quisquam doloremque libero mollitia quos aut quo velit repellat eos tempore inventore.</p>
				</div>
			</div>
		</div>
	</div>
</div>